HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.mvn/

### logs ####
*.log
/spring-shell.log

### local files - large dictionaries ###
largeFiles/
/largeFile/
/apps/

/src/main/resources/files/dictionaries/
/src/main/resources/files/Unicode/
/src/main/resources/files/music/