/.idea/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.mvn/

### logs ####
*.log
/spring-shell.log

### local files - large dictionaries ###
/implementation/research/largeFile/
/implementation/research/apps/tika-app-2.3.0.jar

/implementation/research/src/main/resources/files/dictionaries/
/implementation/research/src/main/resources/files/Unicode/
/implementation/research/src/main/resources/files/music/
/implementation/research/implementation/research/apps/
/implementation/research/target/
/implementation/ids/target